body {
 
}

/*cook page border for menu*/
.borderbox {
	border: 10px solid blue; 
	min-height: 50%;
}


/*hides server selector drop down upon 'submit'*/
.serverSelection {
	height: 100vh;
}

.moneyUnderline {
	text-decoration: underline;
}

.currentOrder {
	display: none;
}

.menuItems {
	display: none;
}


/*LANDING PAGE STYLE*/


.jumbotron {
	background-color: #ffffff;
	padding-top: 0px;
}

h2.jumbotron {
	margin-bottom: 6rem;
}

.caption {
	padding-top: 2rem;
}

.navbar-brand {
	padding: 0px 15px;
}

.nav>li>a {
	float:right;
}

.navbar-default {
	height: 75px;
}