/*GENERAL STYLE*/

	.borderbox {
		border: 1px solid grey; 
		/*min-height: 50%;*/
	}

	body {

	}

	.container-fluid {
		padding: 10px;
	}

	.danger {
		color: #e4513f;
	}

/*NAVIGATION*/

	.navbar-default {
		height: 75px;
	}

	/*logo*/
	.navbar-brand {
		padding: 9px 15px 0px 15px;
	}

	/*links*/
	.navbar-nav {
	    margin: 0px -15px;
	    float:right;
	}

	.navbar-collapse {
		border-top:none;
	}

	.navbar-nav>li>a {
		width: 82px;
		margin: 0 auto;
		padding-top: 0px;
		text-align: center;
		font-size: 16px;
	}

	.navbar-default .navbar-nav>li>a:hover {
	    color: #e4513f;
	}

	/*hamburger*/

	.navbar-header button.navbar-toggle .icon-bar  {
		background-color: #e4513f;
	    width: 32px;
	    height: 5px;
	}
	.navbar-default .navbar-toggle:focus {
		background-color: white;
	}

	.navbar-default .navbar-toggle {
		border: none;
		margin-top: 16px;
	}

	.navLinkWrapper {
		background-color: #f8f8f8;
	}

	.brandTitle {
		display: none;
	}
	


/*FOOTER */

	footer {
		/*position: absolute;
	    bottom: 0;*/
	    width: 100%;
	    height: 60px;
	    line-height: 60px;
	   	background-color: #f8f8f8;
	    border: 1px solid #e7e7e7;
	}

/*INDEX LANDING PAGE STYLE*/

	.jumbotron {
		background-color: #ffffff;
		padding-top: 0px;
	}

	.slogan {
		margin-bottom: 6rem;
		margin-top:4rem;
	}

	.caption {
		padding-top: 2rem;
	}

	.heroImg {
		width: 80%;
		margin: 0 10%;
	}

	.heroItem {
		min-height: 500px;
	}

/*COOK PAGE */

	/*hides server selector drop down upon 'submit'*/
	.serverSelection {
		height: 100vh;
		text-align: center;
		/*padding-left: 35%;
		margin: auto;*/
		width:70%;
		margin:0 15%;
	}

	.currentOrder {
		display: none;
	}

	.menuItems {
		display: none;
	}


	.oneTicketList {
		list-style: none;
		font-family:courier;
		font-size: 24px;
		padding-left: 0px;
		min-height: 400px;
		max-height: 400px;
	}

	.oneTicket {
		max-width: 200px;
	    min-height: 400px;
	    margin: 10px;
	    box-shadow: 5px 5px 1px #888888;
	}

	.oneTicketListItem {
		text-align: center;
	}

	.closeBtn {
		margin-bottom:10px;
	}


/*SERVER PAGE*/

	/*food icons*/
	img.menuBtn {
		width: 60%;
		margin: 0 20%;
	}

	/*buttons*/ 
	.totalDue {
		padding: 30px;
	}

	.serverButtons {
		padding: 30px;
	}

	.submitOrder {
		float: right;
	}

	/*calculator formatting*/
	#button-minus {
		width: 100%;
		display:inline-block;
	}

	.number {
		object-position: center;
	}

	

/*MEDIA QUERIES*/
	/* Extra Small Devices, Phones */ 
	@media only screen and (min-width : 480px) {
		
		body {
		background-color: pink;
		}

		.heroImg {
			/*width: 40%;
			margin: 0 30%;*/
			display: inline-block;
		    float: left;
		    margin: 54px 10px 0px 0px;
		    width: 30%;
		}

		.heroItem {
			min-height: 0px;
		}

		img.menuBtn {
		width: 50%;
		margin: 0 25%;
		}

		h3.brandTitle {
			display: inline-block;
		}
		
	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
		body {
		background-color: aqua;
		}
		
		.heroImg {
			width: 70%;
			margin: 0 15%;
			display: block;
		    float: none;
		}

		.heroItem {
			min-height: 500px;
		}

		.navLinkWrapper {
			background-color: transparent;
		}

		img.menuBtn {
		width: 60%;
		margin: 0 20%;
		}

		.serverSelection {
		width:50%;
		margin:0 25%;
		}

	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {
		body {
		background-color: yellow;
		}

		.heroImg {
			width: 80%;
			margin: 0 10%;
		}
		
		img.menuBtn {
		width: 60%;
		margin: 0 20%;
		}

		.serverSelection {
		width:70%;
		margin:0 15%;
		}

	}	

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {
		
		body {
		background-color: green;
		}

		img.menuBtn {
		width: 50%;
		margin: 0 25%;
		}
		.serverSelection {
		width:60%;
		margin:0 20%;
		}

	}